% macro datepart(line, vattype)
<Date>{{line.Datum.strftime("%Y-%m-%d")}}</Date>
                % if line.vatpercent and vattype
                <VATType>{{vattype}}</VATType>
                % endif
                <FinYear number="{{line.Datum.year}}" />
                <FinPeriod number="{{ '%02i'%line.Datum.month }}" />
% endmacro
% macro note(line)
<Note>
                    {{ line.Note | escape }}
                </Note>
% endmacro
<?xml version="1.0" encoding="utf-8"?>
<eExact xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="eExact-XML.xsd">
    <GLTransactions> 
        % for transaction in transactions
        <GLTransaction>
            <TransactionType number="40" />
            <Journal code="{{config.ledger}}" type="12" />
            % for linenr, line in enumerate(transaction)
                % set aftervat = (line.Bruto/(Decimal(1)+line.vatpercent)).quantize(Decimal('0.01'), rounding=ROUND_HALF_UP)
                % set vatamount = line.Bruto - aftervat
                % set AmountType = 'Amount' if config.currency == 'EUR' else 'ForeignAmount'
            <GLTransactionLine type="40" line="{{linenr*3+1}}" status="20">
                <!--Gross transaction, balance side -->
                {{datepart(line, 'S')}}
                <GLAccount code="{{config.pp_account}}" type="12" />
                <Description>{{line.Comment}}</Description>
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%line.Bruto}}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            <GLTransactionLine type="40" line="{{linenr*3+1}}" status="20">
                <!-- Net transaction, winst/verlies side -->
                {{datepart(line, 'I')}}
                <GLAccount code="{{line.glaccount}}" type="{{line.glatype}}" />
                <GLOffset code="{{config.pp_account}}" />
                <Description>{{line.Comment}}</Description>
                % if line.Customer
                <Account code="{{line.Customer}}" />
                % endif
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-aftervat) }}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                    % if line.vatpercent
                    <VAT code="{{line.vatcode}}" />
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervat)}}</VATBaseAmount>
                    <VATAmount>{{ '%.2f'%(-vatamount)}}</VATAmount>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            
            % if line.vatpercent
            <GLTransactionLine type="40" line="{{linenr*3+1}}" status="20">
                <!-- Transaction VAT, winst/verlies side -->
                {{datepart(line, 'O')}}
                <GLAccount code="{{line.vataccount}}" type="24" />
                <GLOffset code="{{config.pp_account}}" />
                {{line.additional}}
                <Description>BTW {{line.Comment}}</Description>
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-vatamount) }}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                    % if line.vatpercent
                    <VAT code="{{line.vatcode}}" />
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervat) }}</VATBaseAmount>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            % endif
            % if abs(getattr(line, 'Fee', Decimal('0.00'))) > 0.005 or abs(getattr(line, 'FeeForeign', Decimal('0.00'))) > 0.005
            <GLTransactionLine type="40" line="{{linenr*3+2}}" status="20">
                <!-- Transaction for the Fee, winst-verlies side -->
                {{datepart(line, '')}}
                <GLAccount code="{{config.costs_account}}" type="121" />
                <GLOffset code="{{config.pp_account}}" />
                <Description>Kosten {{line.Comment}}</Description>
                
                % if line.account
                <Account code="{{line.account}}" />
                % endif
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-line.Fee) }}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            <GLTransactionLine type="40" line="{{linenr*3+2}}" status="20">
                <!--Transaction for the Fee, balance side -->
                {{datepart(line, '')}}
                <GLAccount code="{{config.pp_account}}" type="12" />
                <Description>Kosten {{line.Comment}}</Description>
                % if line.Customer
                <Account code="{{line.Customer}}" />
                % endif
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%line.Fee}}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            % endif
            % if getattr(line, 'Remainder', Decimal('0.00')) or getattr(line, 'RemainderForeign', Decimal('0.00'))
            <GLTransactionLine type="40" line="{{linenr*3+3}}" status="20">
                <!-- Transaction for the Remainer, kruispost side -->
                {{datepart(line, '')}}
                <GLAccount code="{{config.pp_kruispost}}" type="90" />
                <GLOffset code="{{config.pp_account}}" />
                <Description>Restant {{line.Comment}}</Description>
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(line.Remainder) }}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            <GLTransactionLine type="40" line="{{linenr*3+3}}" status="20">
                <!--Transaction for the Remainder, balance side -->
                {{datepart(line, '')}}
                <GLAccount code="{{config.pp_account}}" type="12" />
                <Description>Restant {{line.Comment}}</Description>
                % if line.Customer
                <Account code="{{line.Customer}}" />
                % endif
                <{{AmountType}}>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-line.Remainder) }}</Value>
                    % if config.currency != 'EUR'
                    <Rate>{{line.ConversionRate}}</Rate>
                    % endif
                </{{AmountType}}>
                {{note(line)}}
            </GLTransactionLine>
            % endif
            % endfor
        </GLTransaction>
        % endfor
    </GLTransactions>
</eExact>
