% macro datepart(datum)
<Date>{{datum.strftime("%Y-%m-%d")}}</Date>
                <FinYear number="{{datum.year}}" />
                <FinPeriod number="{{ '%02i'%datum.month }}" />
% endmacro
% macro note(line)
<Note>
                    {{ line.Note | escape }}
                </Note>
% endmacro
<?xml version="1.0" encoding="utf-8"?>
<eExact xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="eExact-XML.xsd">
    <GLTransactions> 
        % for transaction in transactions
        <GLTransaction>
            <TransactionType number="40" />
            <Journal code="{{config.ledger}}" type="12" />
            % for line in transaction
                % set vatamount = line.Bruto*line.vatpercent
                % set aftervat = line.Bruto - vatamount
                % set vatamountforeign = line.BrutoForeign*line.vatpercent
                % set aftervatforeign = line.BrutoForeign - vatamountforeign
            <GLTransactionLine type="40" line="{{line.linenr}}" status="20">
                <!--Net transaction, balance side -->
                <Date>{{line.Datum.strftime("%Y-%m-%d")}}</Date>
                % if line.vatpercent
                <VATType>S</VATType>
                % endif
                <FinYear number="{{line.Datum.year}}" />
                <FinPeriod number="{{ '%02i'%line.Datum.month }}" />
                <GLAccount code="{{config.pp_account}}" type="12" />
                <Description>{{line.Comment}}</Description>
                % if line.Customer
                <Account code="{{line.Customer}}" />
                % endif
                <Amount>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%line.Net}}</Value>
                </Amount>
                % if line.NetForeign
                <ForeignAmount>
                    <Currency code="{{line.ForeignValuta}}" />
                    <Value>{{ '%.2f'%line.NetForeign}}</Value>
                    <Rate>{{line.ConversionRate}}</Rate>
                </ForeignAmount>
                % endif
                {{note(line)}}
            </GLTransactionLine>
            
            
            % if abs(getattr(line, 'Fee', Decimal('0.00'))) > 0.005 or abs(getattr(line, 'FeeForeign', Decimal('0.00'))) > 0.005
            <GLTransactionLine type="40" line="{{line.linenr}}" status="20">
                <!-- Transaction for the Fee, winst-verlies side -->
                {{datepart(line.Datum)}}
                <GLAccount code="{{config.costs_account}}" type="121" />
                <GLOffset code="{{config.pp_account}}" />
                <Description>Kosten {{line.Comment}}</Description>
                
                % if line.account
                <Account code="{{line.account}}" />
                % endif
                <Amount>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-line.Fee) }}</Value>
                </Amount>
                % if line.FeeForeign
                <ForeignAmount>
                    <Currency code="{{line.ForeignValuta}}" />
                    <Value>{{ '%.2f'%(-line.FeeForeign) }}</Value>
                    <Rate>{{line.ConversionRate}}</Rate>
                </ForeignAmount>
                % endif
                {{note(line)}}
            </GLTransactionLine>
            % endif
            
            <GLTransactionLine type="40" line="{{line.linenr}}" status="20">
                <!-- Net transaction, winst/verlies side -->
                <Date>{{line.Datum.strftime("%Y-%m-%d")}}</Date>
                % if line.vatpercent
                <VATType>I</VATType>
                % endif
                <FinYear number="{{line.Datum.year}}" />
                <FinPeriod number="{{ '%02i'%line.Datum.month }}" />
                <GLAccount code="{{line.glaccount}}" type="{{line.glatype}}" />
                <GLOffset code="{{config.pp_account}}" />
                <Description>{{line.Comment}}</Description>
                % if line.Customer
                <Account code="{{line.Customer}}" />
                % endif
                <Amount>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-aftervat) }}</Value>
                    % if line.vatpercent
                    <VAT code="{{line.vatcode}}" />
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervat)}}</VATBaseAmount>
                    % endif
                </Amount>
                % if line.BrutoForeign
                <ForeignAmount>
                    <Currency code="{{line.ForeignValuta}}" />
                    <Value>{{ '%.2f'%(-aftervatforeign) }}</Value>
                    <Rate>{{line.ConversionRate}}</Rate>
                    % if line.vatpercent
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervatforeign)}}</VATBaseAmount>
                    % endif
                </ForeignAmount>
                % endif
                {{note(line)}}
            </GLTransactionLine>
            
            % if line.vatpercent
            <GLTransactionLine type="40" line="{{line.linenr}}" status="20">
                <!-- Transaction VAT, winst/verlies side -->
                <Date>{{line.Datum.strftime("%Y-%m-%d")}}</Date>
                {% if line.vatpercent %}
                <VATType>O</VATType>
                {% endif %}
                <FinYear number="{{line.Datum.year}}" />
                <FinPeriod number="{{ '%02i'%line.Datum.month }}" />
                <GLAccount code="{{line.vataccount}}" type="90" />
                <GLOffset code="{{config.pp_account}}" />
                {{line.additional}}
                <Description>BTW {{line.Comment}}</Description>
                <Amount>
                    <Currency code="{{line.Valuta}}" />
                    <Value>{{ '%.2f'%(-vatamount) }}</Value>
                    % if line.vatpercent
                    <VAT code="{{line.vatcode}}" />
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervat) }}</VATBaseAmount>
                    % endif
                </Amount>
                % if line.BrutoForeign
                <ForeignAmount>
                    <Currency code="{{line.ForeignValuta}}" />
                    <Value>{{ '%.2f'%(-vatamountforeign) }}</Value>
                    <Rate>{{line.ConversionRate}}</Rate>
                    <VATPercentage>{{line.vatpercent}}</VATPercentage>
                    <VATBaseAmount>{{ '%.2f'%(-aftervatforeign) }}</VATBaseAmount>
                </ForeignAmount>
                {% endif %}
                {{note(line)}}
            </GLTransactionLine>
            % endif
            
            % endfor
        </GLTransaction>
        % endfor
    </GLTransactions>
</eExact>
